@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  flex: 1 1 1;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 24px;
}

#navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  border-right: 2px solid #001616;
  position: fixed;
  border-top: 1px solid #001616;
  z-index: 1;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex: 1 0 1;
  overflow-y: scroll;
  padding-left: 0.1px;
}

.nav-list>li {
  display: block;
  border-top: 1px solid #001616;
  width: 100%;
  cursor: pointer;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: #4D4E53;
  padding: 5px 5px 5px 5px;
}

#main-doc {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8px;
  right: 0;
  left: 8px;
  margin: 0 0 110px 310px;
  padding: 20px;
}

#foot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: -10px;
}

@media only screen and (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-list {
    display: block;
    border: 1px solid;
    height: 207px;
    overflow-y: scroll;
    margin: 0 10px;
    padding: 2px;
  }

  .nav-list>li {
    display: block;
    text-align: center;
    border-top: none;
    border-bottom: 1px solid #001616;
    width: 100%;
    margin: 0;
    padding: 8px;
  }


  #navbar {
    display: block;
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0 5px 0 5px;
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    border: none;
    z-index: 1;
    border-right: none;
    border-top: none;
  }

  #main-doc {
    display: flex;
    position: relative;
    margin: 270px auto 0 auto;
    padding: 10px;
    width: 100%;
  }

}